.DS_Store
CLAUDE.md
smartbox/
Humming Bird Habit Colors.png
Humming Bird Habit Logo.png
Humming Bird Habit Logo on dark background.png
Sketch to add on website.png
HHT logo background free white on dark background.png
